MONGODB_URI=/parking-management
PORT=7009
ENVIRONMENT=development

# API keys
JWT_SECRET_KEY=your-secret-key`

# storage configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

SERVICE_PROVIDER=resendService
RESEND_API_KEY=fdgdg

OTP_EXPIRY=120
RESEND_FROM=hdgyug

SIGNEDURL_EXPIRY=60